
.style-title {
    color: black;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
} 
body {
    background-color:yellowgreen;
}
.paragraf-style {
    font-size: medium; 
    text-align:justify; 
    font-family: Arial, Helvetica, sans-serif;
}  
